@font-face {
    font-family: adihausDin;
    src : url('./assets/fonts/adihausDIN/729-font.ttf')
  }
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
}
html {
    font-family: 'adihausDIN', 'sans-serif';
}
